<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script src='./vue.js'></script>
    <script src="./tutorial.vue"></script>
    <style>
      .error {
        color:red;
      }
    </style>
  </head>
  <body>
    <div id="demo">
      <p>{{message}}</p>
      <input v-model="message">
    </div>
    <div id="app">
      <ul>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ul>
    </div>
    <div id="event">
      <p>{{ message }}</p>
      <button v-on:click="showMessage">Click!!</button>
    </div>
    <div id="todo">
      <input v-model="input" v-on:keyup.enter="add">
      <ul>
        <li v-for="todo in todos">
          <span>{{ todo.text }}</span>
          <button v-on:click="remove($index)"></button>
        </li>
      </ul>
    </div>
    <div id="component">
      <my-component></my-component>
      <my-component></my-component>
      <my-component></my-component>
    </div>
    <div id="price">
      <p>{{ name }}は{{ price }}円です。</p>
    </div>
    <div id="valid" v-bind:class="{'error': !isValid}" v-bind:style="{'border': (isValid ? '' : '1px solid red')}">
      <p>名前 {{ name }}</p>
      <p>
        <!--<input type="text" v-on:change="updateName($event)">-->
        <input v-model="name">
      </p>
      <p v-show="!isValid">
        名前を入力してください
      </p>
      <p v-show="isValid">
        <button v-on:click="sendData">送信</button>
      </p>
    </div>
    <div id="fruits-list">
      <fruits-list-parent></fruits-list-parent>
    </div>
    <div id="fruits-component">
      <ol>
        <fruits-list v-for="fruits in fruitsItems" v-bind:fruits-item="fruits"></fruits-list>
      </ol>
    </div>
    <div id="fruits-counter">
      <div v-for="fruit in fruits">
        {{fruit.name}}: <counter-button v-on:increment="increment()"></counter-button>
      </div>
      <p>合計: {{total}}</p>
    </div>
  </body>
</html>
