<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.js'></script>
    <script src="./tutorial.vue"></script>
  </head>
  <body>
    <div id="demo">
      <p>{{message}}</p>
      <input v-model="message">
    </div>
    <div id="app">
      <ul>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ul>
    </div>
    <div id="event">
      <p>{{ message }}</p>
      <button v-on:click="showMessage">Click!!</button>
    </div>
    <div id="todo">
      <input v-model="input" v-on:keyup.enter="add">
      <ul>
        <li v-for="todo in todos">
          <span>{{ todo.text }}</span>
          <button v-on:click="remove($index)"></button>
        </li>
      </ul>
    </div>
    <div id="component">
      <my-component></my-component>
      <my-component></my-component>
      <my-component></my-component>
    </div>
  </body>
</html>
